:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  /* text-decoration: inherit; */
}

a:hover {
  color: #535bf2;
}

li{
  list-style: none;
}
body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  font-family:  "Inter", sans-serif;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.container {
  width: 600px;
  height: 600px;
  background-color: #282D35;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
}

header{
  background-color: #242424;
  padding: 20px 20px;
  height: 50px;
}
nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav > img{
  width: 30px;
}

nav > span{
  color: #61DAFB;
  font-size: 1.4rem;
  font-weight: 700;
}

h2{
  font-size: 2.4rem;
}

.facts-lists > li{
  line-height: 30px;
  font-size: 1.4rem;
  padding-block: 10px;
}
.facts-lists > li::marker{
  color: #61DAFB; 
  font-size: 1.5rem;
}

main{
  background-image: url("./assets/loog.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 22%;
  background-size: 22%;
  height: 100%;

}

.fulaha{
  width: 650px;
  height: 704px;
}

.matter{
  display: flex;
  background-color: #F55A5A;
  width: 550px;
  height: 55px;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: white;
}

.matter > img{
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

.matter > p{
  font-size: 1rem;
  font-weight: 500;
  font-family: Inter;
}


.light{
  display: flex;
  margin: 10px 0px;
  width: 550px;
  height: 100px;
  border: 1px dashed;
}
.light > * + * {
  margin-left: 10px;
}

.light > .save{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  line-height: 1;
  text-align: left;
}
/* .save > * {
  border: 1px solid;
} */


.light > .save > .top{
  display: flex;
  gap: 10px;
}

.myBut{
  display: flex;
  gap: 3px;
}

.avatar{
  border-radius:50px;
  padding: 4px 2px;
}
